# Building Performance Ruleset Data Model Specification

## Scope



### Applicability


### Exclusions


## Data Model

{{ add_data_model('BuildingPerformanceRuleset', base_level=3) }}

## Verification Rules


## Publishing Rules


## Application Rules

None.
